<div class = "container">	
	<br>
	<br>
	<div class = "row">
		<div class= "col-xs-9 col-xs-offset-1 col-md-9 col-md-offset-1">
		   <dl class="dl-horizontal" ng-repeat = "experience in experiences">
				  <dt>
				  	<a class="thumbnail" href={{experience.companyUrl}} target="_blank">
		      			<img ng-src= {{experience.companylogo}} alt="...">
		    		</a>
				  </dt>
				  <dd>
				  	<blockquote>
					  		<div class="col-xs-9 col-md-9">
							  <h4><strong>{{experience.company}}</strong></h4>
							  <h5><strong>{{experience.title}}</strong></h5>
							</div>
							<div class="col-xs-3 col-md-3" style="text-align: right">
								<h5>{{experience.location}}</h5>
			    				<h5>{{experience.period}}</h5>
							</div>
							<div class="col-xs-12 col-md-12">
						   		<footer ng-repeat="description in experience.description">{{description}}</footer>
						   	</div>
		   			</blockquote>
				  </dd>
				  <hr>
			</dl>
		</div>
	</div>
</div>