<div class="jumbotron jumbotron-main">
	<div class="container">
	     <h1 style="font-family: 'Dancing Script', cursive">Xuhui Jiang</h1>
	     <p><a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myResume">Read More</a> 
	     <a class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Contact Me</a></p>
	</div>
</div>

<div class="container">
   <div class="row">

	   <div class="col-xs-4 col-md-4 box">
	   		<a href="#!/experience">
			     <div class="well">
				     <span class="glyphicon glyphicon-paperclip"></span>
				     <h3>Experience</h3>
			     </div>
		    </a>
	    </div>

	    <div class="col-xs-4 col-md-4 box">
	    	<a href="#!/education">
			     <div class="well">
			     	<span class="glyphicon glyphicon-education"></span>
			     	<h3>Education</h3>
			     </div>
		    </a>
	    </div>

	    <div class="col-xs-4 col-md-4 box">
	    	<a href="#!/certifications">
			     <div class="well">
			     	<span class="glyphicon glyphicon-certificate"></span>
			     	<h3>Certifications</h3>
			     </div>
		    </a>
	    </div>
   </div>
</div>

<div class="section-a">
	    <div class="row">
		    <div class="col-xs-12 col-md-12">
		    	<h4 style="font-family: 'Dancing Script'">
		    	     "Hello Sir/Miss, <br>
		    	      Thank you for visiting my profile! Right now I am open to positions related to both front-end and back-end development. Please feel free to reach me if you would like to know more about me after going through my website. Thank you for your time! I really appreciate that. <br>
		    	      Best Regards<br>
		    	      Xuhui"</h4>
			</div>
		</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-11 col-sm-11 col-md-4 col-lg-4">
			<div class="panel panel-default">
				  <div class="panel-heading">
				     <h3 class="panel-title">Programming Language</h3>
				  </div>
				  <div class="panel-body">
				    <ul>
				      <li ng-repeat = "programming in programminglanguage">
				      	<span class="badge">{{programming}}</span>
				      </li>
				    </ul>
				  </div>
			</div>
		</div>

		<div class="col-xs-11 col-sm-11 col-md-4 col-lg-4">
			<div class="panel panel-default">
				  <div class="panel-heading">
				     <h3 class="panel-title">Editor and Tools</h3>
				  </div>
				  <div class="panel-body">
				     <ul>
				      <li ng-repeat = "tool in tools">
				      	<span class="badge">{{tool}}</span>
				      </li>
				    </ul>
				  </div>
			</div>
		</div>
        
        <div class="col-xs-11 col-sm-11 col-md-4 col-lg-4">
			<div class="panel panel-default">
				  <div class="panel-heading">
				     <h3 class="panel-title">Framework and Database</h3>
				  </div>
				  <div class="panel-body">
				    <ul>
				      <li ng-repeat = "frame in frames">
				      	<span class="badge">{{frame}}</span>
				      </li>
				    </ul>
				  </div>
			</div>
		</div>

	</div>
</div>


<!-- Contact Me Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Contact Me</h4>
      </div>
      <div class="modal-body">
        <span class="glyphicon glyphicon-phone"> Telephone: (312)-843-9544</span>
        <hr>
        <span class="glyphicon glyphicon-envelope"> Email: xjiang245@gmail.com</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Resume Modal -->
<div class="modal fade" id="myResume" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">My Resume</h4>
      </div>
      <div class="modal-body">
        <img src="../images/resume.png" style="width: 100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	
            