<div class="jumbotron jumbotron-main">
	<div class="container">
	     <h1 style="font-family: 'Dancing Script', cursive">Xuhui Jiang</h1>
	     <p><a class="btn btn-primary btn-lg" href="about.html">Read More</a> 
	     <a class="btn btn-default btn-lg" href="contact.html">Contact Me</a></p>
	</div>
</div>

<div class="container">
   <div class="row">

	   <div class="col-xs-4 col-md-4 box">
		     <div class="well">
		     	<span class="glyphicon glyphicon-paperclip"></span>
		     	<h3>Experience</h3>

		     	<p></p>
		     </div>
	    </div>

	    <div class="col-xs-4 col-md-4 box">
		     <div class="well">
		     	<span class="glyphicon glyphicon-education"></span>
		     	<h3>Education</h3>

		     	<p></p>
		     </div>
	    </div>

	    <div class="col-xs-4 col-md-4 box">
		     <div class="well">
		     	<span class="glyphicon glyphicon-certificate"></span>
		     	<h3>Certifications</h3>

		     	<p></p>
		     </div>
	    </div>
   </div>
</div>

<div class="section-a">
	    <div class="row">
		    <div class="col-xs-12 col-md-12">
		    	<h4 style="font-family: 'Dancing Script'">
		    	     "Hello Sir/Miss, <br>
		    	      Thank you for visiting my profile! Right now I am open to positions related to both front-end and back-end development. Please feel free to reach me if you would like to know more about me after going through my website. Thank you for your time! I really appreciate that. <br>
		    	      Best Regards<br>
		    	      Xuhui"</h4>
			</div>
		</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-4 col-md-4">
			<div class="panel panel-default">
				  <div class="panel-heading">
				     <h3 class="panel-title">Programming Language</h3>
				  </div>
				  <div class="panel-body">
				    <ul>
				      <li ng-repeat = "programming in programminglanguage">
				      	<span class="badge">{{programming}}</span>
				      </li>
				    </ul>
				  </div>
			</div>
		</div>

		<div class="col-xs-4 col-md-4">
			<div class="panel panel-default">
				  <div class="panel-heading">
				     <h3 class="panel-title">Editor and Tools</h3>
				  </div>
				  <div class="panel-body">
				     <ul>
				      <li ng-repeat = "tool in tools">
				      	<span class="badge">{{tool}}</span>
				      </li>
				    </ul>
				  </div>
			</div>
		</div>
        
        <div class="col-xs-4 col-md-4">
			<div class="panel panel-default">
				  <div class="panel-heading">
				     <h3 class="panel-title">Framework and Database</h3>
				  </div>
				  <div class="panel-body">
				    <ul>
				      <li ng-repeat = "frame in frames">
				      	<span class="badge">{{frame}}</span>
				      </li>
				    </ul>
				  </div>
			</div>
		</div>

	</div>
</div>


	
            